
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap 5px;
    grid-row-gap: 0px;
}

.grid-box img {
    width: 100%;
}

.newarrival{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;


}

.price{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.col-md-7 h2{
    color: #555;
}

.container{
    margin-top: 100px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}    
